<!DOCTYPE html>
<html>

<head>
    <title>Shahajjo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= mapApiKey %>"></script>
    <style>
        #map {
            height: 100%;
            width: 100%;
        }

        html,
        body {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        button {
            border: 0px;
            outline: none;
            width: fit-content;
            filter: drop-shadow(0px 2px 3px #343434);
        }
        .add-btn {
            padding: 0.4rem 1.02rem;
            text-decoration: none;
            border-radius: 40px;
            background-color: #d73214;
            color: white;
            font-size: 2rem;
            position: fixed;
            bottom: 10px;
            left: calc(50% - 43px);
            right: 5px;
            display: block;
        }
    </style>
</head>

<body>
    <div id="map"></div>
    <button class="add-btn">+</button>

    <script>
        const FLOOD_MONITOR_API_URL = '/api/v1/flood-monitor';
        const searchParams = new URLSearchParams(location.search);
        let gpsLocation = { lat: 23.8002302959404, lng: 90.40662455502002 };
        // Check if the URL has the lat and lng query parameters
        const targetCord = { lat: +searchParams.get('lat'), lng: +searchParams.get('lng') };
        
        // If the URL has the lat and lng query parameters, use them as the GPS location
        if (targetCord.lat && targetCord.lng) gpsLocation = targetCord;
        // Get the GPS location
        async function getLocation() {
            // Check if the browser supports geolocation
            if (!navigator.geolocation) return
            try {
                const position = await new Promise((resolve, reject) => { navigator.geolocation.getCurrentPosition(resolve, reject); });
                gpsLocation.lat = position.coords.latitude,
                    gpsLocation.lng = position.coords.longitude
                return gpsLocation;
            } catch (error) {
                console.error("Error retrieving location:", error);
            }
        }

        // Get the gps location first
        getLocation().then(() => {
            document.querySelector(".add-btn").addEventListener('click', (ev) => {
                window.location.href = "/add?" + searchParams.toString();
            });

            function initMap() {
                // Initialize the map
                var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 14,
                    center: gpsLocation, // Center of the BD
                    fullscreenControl: false,
                    streetViewControl: false
                });
                // Update the center coordinates of the map
                function updateCenterCoordinates() {
                    var mapCenter = map.getCenter();
                    var lat = mapCenter.lat();
                    var lng = mapCenter.lng();
                    const distance = calculateDistance(gpsLocation.lat, gpsLocation.lng, lat, lng);
                    if (distance < 10) return;
                    gpsLocation = { lat, lng };
                    console.log(`Longitude: ${lng}, Latitude: ${lat}`);
                    getIncidents(gpsLocation);
                }
                // An array to store the markers
                let markers = [];

                // Get the incidents from the server
                function getIncidents(positon) {
                    markers.forEach(marker => marker.setMap(null));
                    fetch(FLOOD_MONITOR_API_URL)
                        .then(response => response.json())
                        .then(data => {
                            const locations = data?.incidents;
                            // Loop through the locations and add markers to the map
                            for (var i = 0; i < locations.length; i++) {
                                let offset = (Math.random() * 2 - 1) * 0.0001;
                                // Create a marker
                                var marker = new google.maps.Marker({
                                    position: { lat: locations[i].location.coordinates[1] + offset, lng: locations[i].location.coordinates[0] + offset }, map: map,
                                    icon: getIcon(locations[i].incidentType)
                                });
                                markers.push(marker);
                                // Create an info window content
                                const content = `<div>
                                <h3>${locations[i]?.incidentType == 'রক্তদান' ? locations[i]?.bloodGroup : ""} ${locations[i].incidentType}</h3>
                               ${locations[i].mobileNo ? `<p style="padding-top: 1rem;">Mobile Number: <b>${locations[i].mobileNo}</b></p>` : ""}
                                ${locations[i]?.locationName ? `<p>${locations[i]?.locationName}</p>` : ""}
                                <p>${locations[i].description}</p>
                                <p style="padding-top: 1rem;text-align:end;font-size: 0.7rem;color:#939393;"> ${timeAgo(locations[i].created_at)} </p>
                                </div>`;
                                // Attach an info window to each marker
                                attachInfoWindow(marker, content);
                            }
                        })
                        .catch(error => console.error("Error fetching incidents:", error));
                }
                // Get the incidents for the first time
                getIncidents(gpsLocation);
                // Create a marker for the current location
                const _marker = new google.maps.Marker({
                    position: gpsLocation,
                    map: map,
                });
                // Update the center coordinates when the map is dragged
                map.addListener('center_changed', function () {
                    updateCenterCoordinates();
                });
            }

            // Initialize the map
            initMap();
        });

        function getIcon(incidentType) {
            switch (incidentType) {
                case 'রক্তদান':
                    return './blood.png';
                case 'চুরি-ডাকাতি':
                    return './robber.png';
                case 'ভাংচুর':
                    return './broken-bottle.png';
                case 'অগ্নিসংযোগ':
                    return './arson.png';
                case 'চাঁদাবাজি':
                    return './money.png';
                case 'উপাসনালয় হামলা':
                    return './book.png';
                case 'হয়রানি/অবমাননা':
                    return './harassment.png';
                default:
                    return './marker.png';
            }
        }

        // Attach an info window to a marker
        function attachInfoWindow(marker, message) {
            var infowindow = new google.maps.InfoWindow({
                content: message
            });

            // Show the info window when marker is clicked
            marker.addListener('click', function () {
                infowindow.open(marker.get('map'), marker);
            });
        }

        function calculateDistance(lat1, lon1, lat2, lon2) {
            // Convert degrees to radians
            const lat1Rad = lat1 * Math.PI / 180;
            const lon1Rad = lon1 * Math.PI / 180;
            const lat2Rad = lat2 * Math.PI / 180;
            const lon2Rad = lon2 * Math.PI / 180;
            // Haversine formula
            const distance = Math.acos(
                Math.sin(lat1Rad) * Math.sin(lat2Rad) +
                Math.cos(lat1Rad) * Math.cos(lat2Rad) * Math.cos(lon2Rad - lon1Rad)
            ) * 6371; // Earth radius in kilometers

            return distance;
        }
    
        function timeAgo(_d) {
            const now = new Date();
            const date = new Date(_d);
            const diffInSeconds = Math.floor((now.getTime() - date.getTime()) / 1000);
            if (diffInSeconds < 60) {
                return `${diffInSeconds} seconds ago`;
            }
            const diffInMinutes = Math.floor(diffInSeconds / 60);
            if (diffInMinutes < 60) {
                return `${diffInMinutes} minutes ago`;
            }
            const diffInHours = Math.floor(diffInMinutes / 60);
            if (diffInHours < 24) {
                return `${diffInHours} hours ago`;
            }
            const diffInDays = Math.floor(diffInHours / 24);
            if (diffInDays < 7) {
                return `${diffInDays} days ago`;
            }
            const diffInWeeks = Math.floor(diffInDays / 7);
            if (diffInWeeks < 4) {
                return `${diffInWeeks} weeks ago`;
            }
            const diffInMonths = Math.floor(diffInDays / 30);
            if (diffInMonths < 12) {
                return `${diffInMonths} months ago`;
            }
            const diffInYears = Math.floor(diffInDays / 365);
            return `${diffInYears} years ago`;
        }

    </script>
</body>

</html>